<p style="background: linear-gradient(90deg, #f42e75, #5d5aaf); color: #FFFFFF; text-align: center;">Join 10,000+ happy customers!</p>

<style>
  .annonce-bar {
    background: linear-gradient(90deg, #f42e75, #5d5aaf);
    color: #FFFFFF;
  }
</style>