{%- liquid
  assign goal = 20000
  assign cart_total = cart.total_price

  assign progress = cart_total | times: 100 | divided_by: goal

  if progress > 100
    assign progress = 100
  endif
  assign remaining = goal | minus: cart_total
-%}

<div style="padding: 16px 20px;">
  <p>Progress: {{ progress }}%</p>
  <p>Cart: {{ cart_total }}</p>
  <div class="progress-bar">
    <div class="bar-progress">-</div>
  </div>
</div>

<div class="carre"></div>

<style>
  .progress-bar {
    height: 6px !important;
    background-color: red !important;
    border-radius: 999px !important;
    overflow: hidden !important;
  }

  .bar-progress {
    height: 100% !important;
    width: {{ progress }}
    % !important;
    background-color: blue !important;
    transition: width 400ms ease !important;
  }
</style>