{%- liquid
  assign goal = 20000
  assign cart_total = cart.total_price

  assign progress = cart_total | times: 100 | divided_by: goal

  if progress > 100
    assign progress = 100
  endif
  assign remaining = goal | minus: cart_total
-%}

<div style="padding: 16px 20px;">
  <p>Plus que {{ remaining | money }} pour atteindre l’objectif</p>
  <div class="progress-bar">
    <div class="bar-progress">maxence</div>
  </div>
</div>

<style>
  .progress-bar {
    height: 6px;
    background-color: red;
    overflow: hidden;
  }

  .bar-progress {
    height: 100%;
    width: {{ progress }}%;
    background-color: blue;
    border-radius: 999px;
    transition: width 400ms ease;
  }
</style>