<div x-data="{ activeTab: 0 }">

  <!-- Boutons onglets -->
  <div class="flex gap-2 border-b border-black/10 justify-between w-full">

    <button
      @click="activeTab = 0"
      :class="activeTab === 0 ? 'border-black text-black' : 'border-transparent text-black/40'"
      class="border-b-2 transition-all duration-200 cursor-pointer">
      Propriétés
    </button>

    <button
      @click="activeTab = 1"
      :class="activeTab === 1 ? 'border-black text-black' : 'border-transparent text-black/40'"
      class="border-b-2 transition-all duration-200 cursor-pointer">
      Livraison
    </button>

    <button
      @click="activeTab = 2"
      :class="activeTab === 2 ? 'border-black text-black' : 'border-transparent text-black/40'"
      class="border-b-2 transition-all duration-200 cursor-pointer">
      Avis
    </button>

  </div>

  <!-- Contenus -->
  <div x-show="activeTab === 0" class="pt-8">
    <p>Contenu de la collab 1</p>
  </div>

  <div x-show="activeTab === 1" class="pt-8">
    <p>Contenu de la collab 2</p>
  </div>

  <div x-show="activeTab === 2" class="pt-8">
    <p>Contenu de la collab 3</p>
  </div>

</div>