<!-- Boutons onglets -->
<div>
  <button @click="activeTab = " :class="activeTab === ? 'border-black' : 'border-transparent'">
    Test
  </button>
</div>

<!-- Contenus -->
<div x-show="activeTab ===">
  Lorem
</div></div>