<div>
  <div class="border-t border-b border-black">
    <p>
      <strong>Préoccupations</strong>· Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-t border-b border-black">
    <p>
      <strong>Préoccupations</strong>· Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-t border-b border-black">
    <p>
      <strong>Préoccupations</strong>· Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-t border-b border-black">
    <p>
      <strong>Préoccupations</strong>· Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
</div>