<div class="flex flex-col">
  <div class="border-t border-b border-black/20 py-2">
    <p>
      <span class="text-black">Marques</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Type de bijoux</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Couleurs</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Composition</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
</div>