<div class="flex flex-col">
  <div class="border-t border-b border-black/20 py-2">
    <p>
      <span class="font-bold!">Préoccupations</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Préoccupations</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Préoccupations</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
  <div class="border-b border-black/20 py-2">
    <p>
      <span>Préoccupations</span>
      · Cernes bleus & marrons, ridules & poches sous les yeux
    </p>
  </div>
</div>