<div class="flex flex-col">
  <div class="border-t border-b border-black/20 py-4">
    {% render 'icon'
      , icon: 'stone' %}
    <p>
      <span class="text-black">Type de bijou</span>
      · Bague
    </p>
  </div>
  <div class="border-b border-black/20 py-4">
    <p>
      <span class="text-black">Matière</span>
      · Argent 925 rhodié
    </p>
  </div>
  <div class="border-b border-black/20 py-4">
    <p>
      <span class="text-black">Pierre</span>
      · Zircon blanc taille brillant
    </p>
  </div>
  <div class="border-b border-black/20 py-4">
    <p>
      <span class="text-black">Finition</span>
      · Dorure à l'or jaune 18 carats
    </p>
  </div>
</div>