<div id="footer-cart-drawer-reinsurance" class="footer-cart-drawer w-full border border-t border-b border-black">
  <ul class="flex items-center justify-start lg:justify-between gap-4 w-full snap-x snap-mandatory overflow-x-auto no-scrollbar">
    <li class="shrink-0 snap-start scroll-mx-4">
      <span class="whitespace-nowrap">
        Livraison sécurisée
      </span>
    </li>
    <li class="shrink-0 snap-start scroll-mx-4">
      <span class="whitespace-nowrap">
        Paiement 100% sécurisé
      </span>
    </li>
    <li class="shrink-0 snap-start scroll-mx-4">
      <span class="whitespace-nowrap">
        Retour gratuit
      </span>
    </li>
  </ul>
</div>