<div id="footer-cart-drawer-reinsurance" class="footer-cart-drawer bg-yellow-100 w-full py-4 rounded-4xl">
  <ul class="flex items-center justify-start lg:justify-center gap-4 w-full snap-x snap-mandatory overflow-x-auto px-[14px] no-scrollbar">
    <li class="shrink-0 snap-start scroll-mx-4 flex items-center gap-1">
      {%- render 'check-icon' -%}
      <span class="text-[14px]! leading-[22px]! whitespace-nowrap">
        Livraison sécurisée
      </span>
    </li>
    <li class="shrink-0 snap-start scroll-mx-4 flex items-center gap-1">
      {%- render 'check-icon' -%}
      <span class="text-[14px]! leading-[22px]! whitespace-nowrap">
        Paiement 100% sécurisé
      </span>
    </li>
    <li class="shrink-0 snap-start scroll-mx-4 flex items-center gap-1">
      {%- render 'check-icon' -%}
      <span class="text-[14px]! leading-[22px]! whitespace-nowrap">
        Retour gratuit
      </span>
    </li>
  </ul>
</div>