<div class="footer-container-cd">
  <p class="footer-cd">30 Day Money Back Guarantee</p>
</div>

<style>

  .footer-container-cd {
    display: flex;
  }

  .footer-cd {
    text-align: center;
  }
</style>