{% capture star %}
    <svg viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg" height="13.8" width="13.8"><path d="M4.20608 0.388707C4.31734 0.0462747 4.8018 0.0462739 4.91306 0.388706L5.72783 2.89632C5.77759 3.04946 5.9203 3.15315 6.08132 3.15315L8.71798 3.15315C9.07804 3.15315 9.22774 3.61389 8.93645 3.82552L6.80335 5.37531C6.67308 5.46996 6.61857 5.63772 6.66833 5.79086L7.4831 8.29848C7.59436 8.64091 7.20243 8.92566 6.91114 8.71403L4.77804 7.16424C4.64777 7.06959 4.47137 7.06959 4.3411 7.16424L2.208 8.71403C1.91671 8.92566 1.52478 8.64091 1.63604 8.29848L2.45081 5.79086C2.50057 5.63772 2.44606 5.46996 2.31579 5.37531L0.18269 3.82552C-0.108601 3.61389 0.0411019 3.15315 0.401157 3.15315L3.03782 3.15315C3.19884 3.15315 3.34155 3.04946 3.39131 2.89632L4.20608 0.388707Z" fill="currentColor"></path></svg>
{% endcapture %}
<div class="flex gap-2 items-center text-black!">
  <div class="flex gap-1">
    {% for i in (1..block.settings.nombre_etoiles) %}
      {{ star }}{% endfor %}
  </div>
  <p>{{ block.settings.note }} -
    <u>{{ block.settings.number }} avis</u>
  </p>
</div>