<section class="page-width mt-50!">
  <div class="mb-10">
    <h2 class="font-bold! uppercase text-4xl md:text-7xl!">Comment préparer un maté</h2>
    <p class="text-base md:text-2xl">La préparation traditionnelle du maté semble toujours un peu compliquée aux premiers abords, mais l’art de faire du maté est en réalité assez simple.</p>
  </div>
</section>

<div class="page-width flex gap-6 overflow-x-auto md:overflow-x-visible md:justify-between">
  <div class="justify-center items-center flex flex-col w-150">
    <img src="{{ section.settings.image_1 | image_url }} }}" alt="">
    <div class="text-center">
      <h3>Step 1</h3>
      <p>Versez 1 cuillère à café de matcha dans 70 ml d’eau chaude (mais pas bouillante).</p>
    </div>
  </div>
  <div class="justify-center items-center flex flex-col w-150">
    <img src="{{ section.settings.image_2 | image_url }} }}" alt="">
    <div class="text-center">
      <h3>Step 1</h3>
      <p>Versez 1 cuillère à café de matcha dans 70 ml d’eau chaude (mais pas bouillante).</p>
    </div>
  </div>
  <div class="justify-center items-center flex flex-col w-150">
    <img src="{{ section.settings.image_3 | image_url }} }}" alt="">
    <div class="text-center">
      <h3>Step 1</h3>
      <p>Versez 1 cuillère à café de matcha dans 70 ml d’eau chaude (mais pas bouillante).</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "How To",
    "settings": [
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "How To",
        "category": "Maxence"
      }
    ]
  }
{% endschema %}