<section class="page-width">
  <h1 class="mb-[32px]">Résulats</h1>
  <div class="w-full!">
    <div class="grid! grid-cols-2! md:grid-cols-4!">
      <div>
        {% render 'arrow' %}
        <p class="italic!">
          Bénéfice 1
        </p>
        <p class="h1">
          96%
        </p>
      </div>
      <div>
        <p class="italic!">
          Bénéfice 1
        </p>
        <p class="h1">
          96%
        </p>
      </div>
      <div>
        <p class="italic!">
          Bénéfice 1
        </p>
        <p class="h1">
          96%
        </p>
      </div>
      <div>
        <p class="italic!">
          Bénéfice 1
        </p>
        <p class="h1">
          96%
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}

  {
    "name": "Section Freestyle",
    "settings": [],
    "presets": [
      {
        "name": "Section Freestyle"
      }
    ]
  }
{% endschema %}