<div class="bg-[#0D4842] eoverflow-hidden text-white">
  <div class="flex md:flex-row flex-col items-center mx-auto h-[85svh] w-[80%] md:w-full pb-10 md:pb-0">
    <div class="flex flex-1 flex-col justify-between h-full!">
      <p class="h1 text-white! font-ivar-fine p-0 md:p-50">Bloomup : engagée depuis 2013</p>
      <p class="text-50-test p-0 md:p-50">
        ÉNERGIE FRUIT et ÉNERGIQA, deux marques complémentaires réunies au sein de BLOOMUP, partagent une même ambition : rendre la beauté engagée plus naturelle et ultra-performante accessible à toutes. Avec des soins experts alliant ingrédients d'origine végétale et innovation, nous démocratisons une beauté sensorielle et efficace, pensée pour répondre aux besoins de chaque peau et chaque cheveu.
      </p>
    </div>
    <img
      class="flex-1 h-full object-cover rounded-lg lg:rounded-none"
      src="https://www.respire.co/cdn/shop/files/Respire-Soin-Visage-Serum-Benefice.jpg?crop=center&height=1200&v=1770808338&width=960"
      alt="">
  </div>
</div>

<style>
  .width-img {
    width: 100%;
    height: 80 svh;
  }

  .text-50-test {
    font-size: clamp(13px, 4.5vw, 14px);
  }

  .text-36-test {}
</style>

{% schema %}
  {
    "name": "Image Test",
    "settings": [
      {
        "type": "header",
        "content": "Image test"
      }
    ],
    "presets": [
      {
        "name": "Image Test"
      }
    ]
  }
{% endschema %}