<section class="page-width mb-10!">
  <h1 class="mb-[32px]">Résulats</h1>

  <div class="grid! grid-cols-2! md:grid-cols-4! gap-6!">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'benefice' %}
          <div {{ block.shopify_attributes }}>
            {% render 'icon'
              , icon: 'energy'
              , height: '18px'
              , width: '18px' %}
            <p class="italic!">{{ block.settings.benefice }}</p>
            <p class="h1">{{ block.settings.value }}</p>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Section Freestyle",
    "blocks": [
      {
        "name": "Bénéfice",
        "type": "benefice",
        "settings": [
          {
            "type": "text",
            "id": "benefice",
            "label": "Titre du bénéfice",
            "default": "Bénéfice"
          },
          {
            "type": "text",
            "id": "value",
            "label": "Valeur du bénéfice",
            "default": "96%"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Section Freestyle",
        "category": "Maxence"
      }
    ]
  }
{% endschema %}