<section class="page-width">
  <h1 class="mb-[32px]">Résulats</h1>
  <div class="w-full!">
    <div class="grid! grid-cols-2! md:grid-cols-4!">
      <div>
        {% render 'icon' icon: 'arrow'
          , height: '14px'
          , width: '14px' %}
        <p class="italic!">
          {{ section.settings.benefice }}
        </p>
        <p class="h1">
          {{ section.settings.value }}
        </p>
      </div>
    </div>
  </div>
</section>

{% schema %}

  {
    "name": "Section Freestyle",
    "settings": [
      {
        "type": "text",
        "id": "benefice",
        "label": "Titre du bénéfice",
        "default": "Bénéfice"
      },
      {
        "type": "text",
        "id": "value",
        "label": "Valeur du bénéfice",
        "default": "96%"
      }
    ],
    "presets": [
      {
        "name": "Section Freestyle"
      }
    ]
  }
{% endschema %}