{% schema %}
  {
    "name": "Maxence Test Section",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "include_margins",
        "default": true,
        "label": "t:sections.apps.settings.include_margins.label"
      }
    ],
    "presets": [
      {
        "name": "Maxence Test Section"
      }
    ]
  }
{% endschema %}

<section class="w-full">
  <div class="grid! grid-cols-1 md:grid-cols-2! items-center">
    <img
      height="800px"
      width="800px"
      src="https://www.respire.co/cdn/shop/collections/soins-du-visage-3921085.jpg?crop=center&height=1241&v=1755619396&width=960"
      alt=""
      class="object-cover h-full aspect-square!">
    <div class="space-y-12 mx-10">
      <h2 class="font-serif! text-7xl! leading-none text-black/80 md:max-w-6xl">Une peau renforcée et visiblement plus saine</h2>
      <p class="leading-none text-black md:max-w-4xl">Avoir une routine skincare régulière est essentiel pour maintenir la santé et la beauté de votre peau. Une routine bien établie permet de nettoyer, hydrater et protéger votre peau, tout en répondant à ses besoins spécifiques. L'hydratation joue un rôle crucial dans cette routine car elle aide à maintenir la barrière cutanée, empêchant ainsi la déshydratation et les agressions extérieures. Nos produits sont conçus pour respecter et choyer votre peau. Cliniquement prouvés et validés par des dermatologues, nos soins visage couvrent toutes les étap...</p>
    </div>
  </div>
</section>

<section class="w-full">
  <div class="grid! grid-cols-1 md:grid-cols-2! items-center">
    <div class="space-y-12 mx-10">
      <h2 class="font-serif! text-7xl! leading-none text-black/80 md:max-w-6xl">Une peau renforcée et visiblement plus saine</h2>
      <p class="leading-none text-black md:max-w-4xl">Avoir une routine skincare régulière est essentiel pour maintenir la santé et la beauté de votre peau. Une routine bien établie permet de nettoyer, hydrater et protéger votre peau, tout en répondant à ses besoins spécifiques. L'hydratation joue un rôle crucial dans cette routine car elle aide à maintenir la barrière cutanée, empêchant ainsi la déshydratation et les agressions extérieures. Nos produits sont conçus pour respecter et choyer votre peau. Cliniquement prouvés et validés par des dermatologues, nos soins visage couvrent toutes les étap...</p>
      <button class="bg-black py-5 px-15 rounded-lg text-white! uppercase font-bold inline-block">
        <div class="flex justify-center items-center">
          <p class="mr-2">En savoir plus
          </p>
        </div>
      </button>
    </div>
    <img
      src="https://www.respire.co/cdn/shop/files/duo-exfoliant-peau-lisse-respire-8454191.jpg?crop=center&height=1200&v=1755619536&width=960"
      alt=""
      class="object-cover h-full aspect-square!">
  </div>
</section>